body {
    background: #f7f7f7;
    font-family: Arial;
}
.wrapper {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
input {
    width: 100%;
    margin: 10px 0;
}
.flash {
    background: #ffe6e6;
    color: #b30000;
    padding: 10px;
    border-radius: 5px;
}