body {
    background: #f4f4f4;
    font-family: sans-serif;
}
.wrapper {
    background: white;
    padding: 20px;
    margin: auto;
    width: 400px;
    border-radius: 8px;
}
input, textarea {
    width: 100%;
    margin: 10px 0;
}
.flash {
    background: #ddf4dd;
    color: #065f0d;
    padding: 10px;
    border-radius: 6px;
}